# Virtual environments
env/
venv/
envii/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/